@font-face {
  font-family: coolvetica;
  src: url("../Fonts/coolvetica.otf");
}

* {
  font-family: coolvetica;
}

.cercadorInputs {
    margin-top: 105px;
    display: flex;
    text-align: center;
  }
  
  .cercador input {
    background-color: white;
    border: 0;
    border-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 22px;
    padding: 15px;
    height: 60px;
    width: 400px;
  }
  
  .iconaRecerca {
    height: 60px;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
  }
  
  input:focus {
    outline: none;
  }
  .iconaRecerca svg {
    font-size: 35px !important;
  }
  
  .resultatsDades {
    margin-top: 5px;
    width: 450px;
    max-height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 10;
    position: relative;
  }
  
  .resultatsDades::-webkit-scrollbar {
    display: none;
  }
  
  .resultatsDades .itemDades {
    min-height: 50px;
    display: flex;
    align-items: center;
    color: black;
    font-size: 22px;
  }
  
  .itemDades p {
    margin-left: 10px;
    margin-bottom: 0px !important;
  }
  a {
    text-decoration: none !important;
  }
  
  a:hover {
    background-color: lightgrey;
  }
  
  #botoBorrar {
    cursor: pointer;
  }

@media (max-width: 500px){
  .resultatsDades{
    width: 330px;
  }
}