.divLogin{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    padding: 130px;
    min-height: 91.1vh;
    display: flex;
    align-items: center;
}

.containerLogin{
    border: 2px solid black;
    padding: 40px;
    margin-top: 0px !important;
    background-color: white;
}

.titolIniciarSessio{
    margin-top: 20px !important;
    color: black;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
}

.divBotoLogin{
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
}

.botoLogin{
    border: none;
    width: 100% !important;
    height: 50px;
    background-color: black;
}

.botoLogin:hover{
    background-color: black;
}

.inputLogin{
    border-radius: 0 !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    text-align: left;
    font-size: 23px;
}

.divDireccioRegistre{
    margin-top: 30px;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
}

@media (max-width: 1540px) {
    .divLogin{
        min-height: 0px;
        height: 88vh;
    }
}

@media (max-width: 878px) {
    .divLogin{
        padding: 30px !important;
    }
    .containerLogin{
        width: 100% !important;
        padding: 18px;
    }
  }

  label {
    padding: .375rem .75rem !important;
  }