.interfazFiltro {
    color: black;
}

.colAliments2 {
    opacity: 0 !important;
}

.interfazFiltro button,
.interfazFiltro select {
    width: 100%;
    border-radius: 4vmin;
    font-size: 3vmin;
    overflow: visible;
    text-align: center;
    margin-bottom: 30px;
    line-height: 3vh;
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(114, 250, 255) 200%);
    background-position: center !important;
    padding: 30px;
    text-transform: uppercase;
    box-shadow: 0 0 20px #000000;
    transition: 0.5s;
    border: 0.5vmin solid black !important;
}

.interfazFiltro label {
    font-size: 2.8vmin;
    text-align: center;
    width: 100%;
    height: 10vh;
    line-height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px !important;
}

.fonsFiltre svg {
    font-size: 4vmin !important;
    filter: drop-shadow(1px 1px 5px #222);
}

.titolFiltre {
    font-size: 10vmin;
    color: black;
}

.subtitolFiltre {
    font-size: 4vmin;
    color: black;
}

#ir-arriba {
    position: sticky;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    background-color: #3f87a6;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    z-index: 40;
    border-radius: 2vmin;
    background-color: #9cdaf8;
    background-image: linear-gradient(315deg, #9cdaf8 0%, #98fcbd 74%);
    border: 0.3vmin solid white;
    display: inline;
    text-shadow: 1px 1px 5px #222;
    opacity: 0;
    transition: opacity 1s ease;
}

div.fonsFiltre {
    min-height: 100vh;
    background-image: linear-gradient(0.33turn, #3f87a6, #ebf8e1, #f69d3c, #561423);
    /*-webkit-animation: rainbow .1s infinite;
    -ms-animation: rainbow .5s infinite;
    -o-animation: rainbow .5s infinite;
    animation: rainbow .5s infinite;
    /*background: radial-gradient(circle farthest-corner at 10% 20%, rgba(222, 168, 248, 1) 0%, rgba(168, 222, 258, 1) 21.9%, rgba(189, 250, 205, 1) 35.6%, rgba(243, 250, 189, 1) 53.9%, rgba(250, 227, 189, 1) 66.8%, rgba(248, 172, 171, 1) 95%, rgba(254, 170, 212, 1) 99.9%);*/
    /*background-color: #222;
    background-image: url("../../Imatges/fondoFiltro.jpg");*/
}

/*@-webkit-keyframes rainbow {
0% {background: #ff0000;}
10% {background: #ff8000;}
20% {background: #ffff00;}
30% {background: #80ff00;}
40% {background: #00ff00;}
50% {background: #00ff80;}
60% {background: #00ffff;}
70% {background: #0080ff;}
80% {background: #0000ff;}
90% {background: #8000ff;}
100% {background: #ff0080;}
}
@-ms-keyframes rainbow {
0% {background: #ff0000;}
10% {background: #ff8000;}
20% {background: #ffff00;}
30% {background: #80ff00;}
40% {background: #00ff00;}
50% {background: #00ff80;}
60% {background: #00ffff;}
70% {background: #0080ff;}
80% {background: #0000ff;}
90% {background: #8000ff;}
100% {background: #ff0080;}
}
@-o-keyframes rainbow {
0% {background: #ff0000;}
10% {background: #ff8000;}
20% {background: #ffff00;}
30% {background: #80ff00;}
40% {background: #00ff00;}
50% {background: #00ff80;}
60% {background: #00ffff;}
70% {background: #0080ff;}
80% {background: #0000ff;}
90% {background: #8000ff;}
100% {background: #ff0080;}
}
@keyframes rainbow {
0% {background: #ff0000;}
10% {background: #ff8000;}
20% {background: #ffff00;}
30% {background: #80ff00;}
40% {background: #00ff00;}
50% {background: #00ff80;}
60% {background: #00ffff;}
70% {background: #0080ff;}
80% {background: #0000ff;}
90% {background: #8000ff;}
100% {background: #ff0080;}
}*/

.filtre22 {
    margin-top: 18vh;
}

.fonsFiltre .col {
    min-width: 300px;
}

.fonsFiltre option {
    width: 100px;
    background: #EBFDFE;
}

@media(max-width: 918px) {

    .fonsFiltre .container1 .row:nth-of-type(2) .col:nth-of-type(1) label,
    .fonsFiltre .container1 .row:nth-of-type(2) .col:nth-of-type(2) label {
        display: none;
    }

    .interfazFiltro label {
        font-size: 1.8rem;
        line-height: 34px !important;
    }

    .interfazFiltro button,
    .interfazFiltro select {
        font-size: 1.6rem;
        padding: 20px;
        line-height: 2rem;
    }

    h1.titolFiltre {
        margin-top: 30px !important;
    }
}

@media(max-width: 768px) {
    div.fonsFiltre {
        background-attachment: fixed;
    }

    .fonsFiltre .container1 .row:nth-of-type(2) .col:nth-of-type(3) option {
        font-size: 3vw;
    }
    .contenidorloader{
        transform: translateX(-50%) translateY(-50%) scale(0.8);
    }
    #offsetTopAliments {
        margin-bottom: -50px;
    }
}

@media(max-width: 575px){
    #offsetTopAliments {
        font-size: 6vmin !important;
        margin-right: 0px !important;
        max-width: 100%;
    }
}

@media(max-width: 425px) {
    #offsetTopAliments {
        margin-bottom: -60px;
    }
}

@media(max-width: 400px) {
    .fonsFiltre .divInfoNegre p {
        font-size: 18px !important;
    }

    .fonsFiltre .col {
        min-width: 288px;
    }

    .fonsFiltre .row {
        padding: 0px !important;
        margin-left: -14px;
    }

    .subtitolFiltre {
        font-size: 5vmin;
    }
    #offsetTopAliments {
        font-size: 6vmin !important;
        margin-bottom: -50px;
    }
}
