.generalContribuir .general {
    background-image: url("../../Imatges/fonfologin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    padding: 130px;
    min-height: 100vh;
    padding: 30px !important;
    padding-top: 150px !important;
}

.ojo {
    background-image: url("../../Imatges/fonfologin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.solicitud {
    margin-top: -50px !important;
}

.sintop {
    color: black;
    padding: 20px;
    font-size: 50px;
}

.general h3,
.general h2 {
    padding: 20px;
}

.solicitud p {
    font-size: 2vw;
    padding: 20px;
}

a.link {
    color: blue !important;
    cursor: pointer;
}

.sensePadding {
    padding-top: 0px;
    padding-bottom: 0px;
}

.contenidor {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    border-radius: 40px;
    border: 5px solid black;
    font-size: 2vw;
}

.formaliment .form-control,
.senseborde {
    font-size: 1.6vw;
    border: 1px solid black !important;
}

.formaliment .row {
    padding: 20px;
}

.botons {
    text-align: center;
}

.botons input {
    font-size: 2vw;
    border-radius: 10px;
    transition: 0.3s;
    margin-bottom: 20px;
}

.botons input:hover {
    font-size: 2.5vw;
    margin-bottom: -20px;
}

.btn-warning {
    height: 110px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 2vw;
    white-space: normal;
    transition: 0.3s;
    line-height: 40px;
}

.btn-warning:hover {
    font-size: 2.5vw;
    height: 120px;
    margin-left: -15px;
    margin-top: 10px;
}

.form-switch {
    padding-left: 0px;
}

#flexSwitchCheckChecked {
    margin-left: 10px;
    margin-top: 24px;
    cursor: pointer;
}

.mostrar {
    display: none;
}

.brnsocult {
    display: none;
}

.solicitud input[type=radio] {
    border: 0px;
    width: 30px;
    height: 1em;
}

.generalContribuir p {
    font-size: 4vmin;
}

.diferenciat {
    padding-left: 40px !important;
}

@media (max-width: 1200px) {

    .formaliment .row,
    p.direfenciat {
        padding: 10px !important;
        font-size: 2.5vw !important;
    }

    .formaliment .form-control,
    .botons input {
        font-size: 2.5vw !important;
    }
}

@media (max-width: 768px) {
    .solicitud {
        width: 91vw;
    }

    .formaliment .row,
    p.direfenciat {
        padding: 4px !important;
    }

    .botons input {
        margin-top: 5px;
        margin-bottom: 5px !important;
        font-size: 5vmin !important;
    }

    .form-switch {
        margin-bottom: 12px;
    }
}

@media (max-width: 600px) {
    .solicitud {
        width: 90vw;
    }

    .formaliment .row,
    p.direfenciat {
        padding: 4px !important;
        font-size: 4vw !important;
    }

    .formaliment .form-control {
        font-size: 4vw !important;
    }

    .brnsocult {
        display: block;
    }

    .parraf {
        margin-top: 10px !important;
    }
}

@media (max-width: 425px) {
    .generalContribuir {
        padding: 10px !important;
    }

    .generalContribuir h1.sintop {
        padding: 0px !important;
        font-size: 10vmin !important;
    }

    .diferenciat,
    .diferenciat2,
    .parraf {
        font-size: 18px !important;
        padding: 0px !important;
    }

    .botons input {
        font-size: 7vmin !important;
    }
}

@media (max-width: 375px) {
    .solicitud {
        width: 92vw;
    }

    .formaliment .row,
    p.direfenciat {
        margin-bottom: 0px !important;
    }
}

@media (max-width: 320px) {
    .solicitud {
        width: 95vw;
    }

    .formaliment .row,
    p.direfenciat,
    .formaliment .form-control {
        font-size: 4vw !important;
    }

    .botons input {
        font-size: 8vmin !important;
    }
}