.generalQuisom {
    padding: 0px !important;
    background-image: url("../../Imatges/fondopresentacionou.jpg");
    background-position: center;
    background-size: cover;
    min-height: 120vh;
}

.presentacio {
    padding: 0px !important;
    text-align: center;
    width: 100%;
    border-bottom: 0.6vmin solid black;
    height: 500px;
}

.presentacio2 {
    min-height: 400px !important;
}

.presentacio .col:nth-of-type(1) {
    min-width: 800px;
}

.presentacio p,
.presentacio h1,
.presentacio2 p,
.presentacio2 h1 {
    filter: drop-shadow(3px 3px 2px #222);
}

.presentacio .col:nth-of-type(1) p {
    font-size: 2.7vmin !important;
}

.presentacio .col:nth-of-type(1) h1 {
    font-size: 5vmin !important;
}

.fonsblau {
    background-color: white !important;
    background-image: url("../../Imatges/fondopresentacio2.jpg");
    background-size: cover;
    min-height: 140vmin;
}

.presentacio img {
    filter: drop-shadow(10px 10px 10px #222);
    height: 496px;
}

.llarg {
    padding: 0px !important;
    margin-right: 0px !important;
    max-width: 2500px !important;
}

.generalQuisom div {
    padding: 0px !important;
    margin: 0px !important;
}

.titolQuiSom,
.paragrafQuiSom {
    padding: 6vmin;
    margin: 0px !important;
    padding-bottom: 0px !important;
}

.paragrafQuiSom {
    color: white;
    text-align: justify;
    font-size: 3vmin !important;
}

.generalQuisom .waves {
    margin-bottom: 36px !important;
    margin-top: -220px !important;
}


.mgt {
    margin-top: -20px !important;
    font-size: 4vmin !important;
}

.colimatge {
    text-align: center;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentacio2 .col img {
    max-width: 26vw;
    padding: 20px;
    margin-top: 20px !important;
    border-radius: 50px;
    border: 3px solid white;
    background-color: #36096d;
background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);

    /*background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );*/
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.presentacio2:nth-of-type(1) .col,
.presentacio2:nth-of-type(1) .col-8 {
    margin-top: 50px !important;
}

/*Media queries*/

@media (max-width: 1252px) {
    .presentacio {
        min-height: 1000px;
        display: flex;
        flex-direction: column;
    }

    .presentacio img {
        position: absolute;
        margin-top: 2px;
    }

    .generalQuisom .wavesImg {
        margin-top: 60px;
    }

    .generalQuisom {
        min-height: 220vh;
    }

    .presentacio .col:nth-of-type(1) p {
        font-size: 4vmin !important;
    }
}

@media (max-width: 1216px) {
    .presentacio2 .col img {
        width: 100% !important;
        max-width: none;
        padding: 40px;
    }

    .presentacio2 .col,
    .presentacio2 .col-8 {
        width: 100%;
    }

    .presentacio2:nth-of-type(1) .col,
    .presentacio2:nth-of-type(1) .col-8 {
        margin-top: 0px !important;
    }

    .colimatge {
        order: 1;
    }

    .generalQuisom .wavesImg {
        margin-top: 0px;
    }

    .presentacio2:nth-of-type(2) .colimatge {
        min-height: 180vh !important;
    }
}

@media(max-width: 1000px) {
    .presentacio2:nth-of-type(2) .colimatge {
        min-height: 150vh !important;
    }
}

@media (max-width: 900px) {
    .presentacio img {
        margin-left: -100px;
    }

    .presentacio .col:nth-of-type(1) h1 {
        font-size: 5vmin !important;
    }

    .presentacio .col:nth-of-type(1) p {
        font-size: 3vmin !important;
    }

    .presentacio p {
        max-width: 1000px !important;
    }
}

@media (max-width: 814px) {
    .presentacio .col:nth-of-type(1) {
        min-width: 80vw;
    }

    .presentacio .col:nth-of-type(1) h1 {
        font-size: 6vmin !important;
    }

    .presentacio .col:nth-of-type(1) p {
        font-size: 3.5vmin !important;
    }

    .presentacio2:nth-of-type(2) .colimatge {
        min-height: 120vh !important;
    }
}

@media(max-width: 768px) {
    .presentacio2:nth-of-type(2) .colimatge {
        min-height: 0px !important;
        margin-bottom: 200px !important;
    }
    .presentacio2 .col img {
        width: 80% !important;
        padding: 6vmin;
    }
    .mgt {
        padding: 6vmin !important;
        max-width: none !important;
        font-size: 5vmin !important;
    }
    .titolQuiSom{
        margin-top: 20px !important;
    }
}

@media (max-width: 700px) {
    .presentacio .col:nth-of-type(1) h1 {
        font-size: 6vmin !important;
    }

    .presentacio .col:nth-of-type(1) p {
        font-size: 3.5vmin !important;
    }

    .presentacio img {
        margin-left: -200px !important;
    }
}

@media (max-width: 630px) {
    .presentacio .col:nth-of-type(1) h1 {
        font-size: 6vmin !important;
    }

    .presentacio .col:nth-of-type(1) p {
        font-size: 3.5vmin !important;
    }

    .presentacio img {
        height: 400px;
        margin-left: -130px !important;
    }

    .presentacio {
        min-height: 800px;
    }

    .presentacio img {
        margin-top: 0px !important;
    }

    .generalQuisom {
        min-height: 120vh !important;
    }
}

@media (max-width: 500px) {
    .presentacio .col:nth-of-type(1) h1 {
        font-size: 6vmin !important;
    }

    .presentacio .col:nth-of-type(1) p {
        font-size: 4vmin !important;
    }

    .presentacio img {
        height: 360px;
        margin-left: -160px !important;
    }

    .presentacio {
        height: 200px;
        min-height: 720px;
    }

    .colimatge {
        min-width: 100px !important;
    }

    .mgt {
        padding-top: 30px !important;
    }

    .generalQuisom {
        min-height: 100vh !important;
    }

    .generalQuisom .wavesImg {
        margin-top: 30px;
    }
}

@media (max-width: 400px) {
    .presentacio .col:nth-of-type(1) p {
        font-size: 4.5vmin !important;
    }

    .generalQuisom .wavesImg {
        margin-top: 50px;
    }
}